* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-aspect-ratio: 7/10){
  .JoinPage{
    
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
 }
  .JoinContainer{
    margin-top: 30vw !important;
    width: 100% !important;
}

.JoinContainer>img{
  width: 30vw !important;
}

.JoinContainer > h1{
    font-size: 6vw;
    width: 65vw !important;
    border-bottom: 6vw solid white;
    padding: 3vw;
   
}

#joinInput{
  width: 65vw !important;
  padding: 4vw !important;
  font-size: 5vw !important;
  margin: 5vw !important;
}
.joinbtn{
  width: 65vw !important;
  padding: 4vw !important;
  font-size: 1.2vmax;
 
}
.chatContainer{
  background-color: white;
  height: 100% !important;
  width: 100% !important;
}
.header{
  background-color: crimson;
 height: 10%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.header>h2{
  margin: 8vw !important;
  font-size: 5vw !important;
} 
.header img{
  margin: 6vw !important;
  transform: scale(1.5);
}
.header>img.hover{
  transform: scale(3.2);
}
.chatBox{
  
  height: 80% !important;

 
}
.inputBox{
  height: 10%;
}
#chatInput{
  padding: 4vw !important;
  font-size: 4vw !important;
}
.messageBox{
 
  padding: 3vw !important;
  margin: 3vw !important;
  border-radius: 1.5vw !important ;
  display: inline-block;
  clear: both;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vw !important;
}
}